.container {
  margin: auto;
  text-align: center;
  background-color: rgb(227, 247, 81);
  padding:5% ;
}

h1{

  font-size: 21px;
}

input{

align-items: center;
width: 35%;
height: 45px;
background-color:  #0d90d1;
border-radius: 15px;


}

input:hover{

background-color: #8d23e4;


}
